language: node_js

node_js:
  - "8.9.4"

sudo: true

env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

services:
  - postgresql

before_script:
  - psql -c "CREATE DATABASE db_ra_express_js;" -U postgres
  - psql -c "CREATE DATABASE db_ra_express_js_test;" -U postgres
  - psql -c "CREATE USER ra_express_js WITH PASSWORD 'ra_express_js';" -U postgres
  - node_modules/.bin/sequelize db:migrate

